.row
    .col-md-12
        .jumbotron
            h1.display-4 Hello #{user.name}!
            p.lead Here's a joke! #{joke}
            hr.my-4
            p Welcome to ZBudgeT! You can get started by using a quick link below!
            a.btn.btn-primary.btn-lg(href="/spending") Submit a Reimbursement