.row
    .col-md-12
        .bgc-white.bd.bdrs-3.p-20.mB-20
            h4.c-grey-900.mB-20 Roles Admin
            table#dataTable.table.table-striped.table-bordered(cellspacing='0', width='100%')
                thead
                    tr
                        th Name
                        th Email
                        th Assigned Roles
                        th Edit Roles
                tfoot
                    tr
                        th Name
                        th Email
                        th Assigned Roles
                        th Edit Roles
                tbody
                    for user in users
                        tr
                            td #{user.name}
                            td #{user.email}
                            td #{user.roles}
                            td 
                                form(action=`/roles` method='get')
                                    input(type="hidden" name="uid" value=`${user._id}`)
                                    button.btn.btn-primary Edit Roles
