.row
    .col-md-12
        .bgc-white.bd.bdrs-3.p-20.mB-20
            h4.c-grey-900.mB-20 Roles Admin
            table#dataTable.table.table-striped.table-bordered(cellspacing='0', width='100%')
                thead
                    tr
                        th Name
                        th Email
                        th Assigned Roles
                        if user.permissions['roles.edit']
                            th Edit Roles
                tfoot
                    tr
                        th Name
                        th Email
                        th Assigned Roles
                        if user.permissions['roles.edit']
                            th Edit Roles
                tbody
                    for eachuser in users
                        tr
                            td #{eachuser.name}
                            td #{eachuser.email}
                            td #{eachuser.roles}
                            if user.permissions['roles.edit']
                                td 
                                    form(action=`/roles` method='get')
                                        input(type="hidden" name="uid" value=`${eachuser._id}`)
                                        button.btn.btn-primary Edit Roles
