.row
    .col-md-12
        .bgc-white.bd.bdrs-3.p-20.mB-20
            h4.c-grey-900.mB-20 Edit Roles
            table#dataTable.table.table-striped.table-bordered(cellspacing='0', width='100%')
                thead
                    tr
                        th Role Name
                        th Permissions
                        if user.permissions['roles.edit']
                            th Edit Role
                tfoot
                    tr
                        th Name
                        th Email
                        if user.permissions['roles.edit']
                            th Edit Role
                tbody
                    for eachrole in roles
                        tr
                            td #{eachrole.roleName}
                            td #{eachrole.permissions}
                            if user.permissions['roles.edit']
                                td 
                                    form(action=`/roles` method='get')
                                        input(type="hidden" name="uid" value=`${eachrole._id}`)
                                        button.btn.btn-primary Edit Role
