.masonry-item.col-md-6
    .bgc-white.p-20.bd
        h6.c-grey-900 Create a New Role
        .mT-30
            if roleCreateFailure
                .alert.alert-danger #{roleCreateFailure}
            if roleCreateSuccess
                .alert.alert-success #{roleCreateSuccess}
            form(method="post" action="/roles/create")
                .form-group
                label(for='roleName') Role Name
                input.form-control(type='text', name='roleName' placeholder="house-manager" aria-describedby="roleNameHelp" required)
                small#roleNameHelp.form-text.text-muted This must be unique.
                .form-group
                label(for='permissions') Role Permissions
                input.select(type='text', name='permissions' aria-describedby="permissionsHelp" required)
                .form-group
                button.btn.btn-primary(type='submit') Submit

            