.sidebar
        .sidebar-inner
          .sidebar-logo
            .peers.ai-c.fxw-nw
              .peer.peer-greed
                a.sidebar-link.td-n(href='index.html')
                  .peers.ai-c.fxw-nw
                    .peer
                      .logo
                        img(src='assets/static/images/logo.png', alt='')
                    .peer.peer-greed
                      h5.lh-1.mB-0.logo-text ZBudgeT
              .peer
                .mobile-toggle.sidebar-toggle
                  a.td-n(href='')
                    i.ti-arrow-circle-left
          ul.sidebar-menu.scrollable.pos-r
            li.nav-item.mT-30.active
              a.sidebar-link(href='/')
                span.icon-holder
                  i.c-blue-500.ti-home
                span.title Home
            li.nav-item
              a.sidebar-link(href='/budgets')
                span.icon-holder
                  i.c-indigo-500.ti-bar-chart
                span.title Budgets
            li.nav-item
              a.sidebar-link(href='/spending')
                span.icon-holder
                  i.c-green-500.ti-pencil
                span.title Spending
            li.nav-item
              a.sidebar-link(href='/roles')
                span.icon-holder
                  i.c-orange-500.ti-layout-list-thumb
                span.title Roles
            if user.permissions['reports.view']
              li.nav-item
                a.sidebar-link(href='/reports')
                  span.icon-holder
                    i.c-red-500.ti-files
                  span.title Reports