doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
    title 500
    link(href='/style.css', rel='stylesheet')
  body.app
    .pos-a.t-0.l-0.bgc-white.w-100.h-100.d-f.fxd-r.fxw-w.ai-c.jc-c.pos-r.p-30
      .mR-60
        img(alt='#', src='/assets/static/images/500.png')
      .d-f.jc-c.fxd-c
        h1.mB-30.fw-900.lh-1.c-red-500(style='font-size:60px') Error
        h3.mB-10.fsz-lg.c-grey-900.tt-c Something went wrong!
        p.mB-30.fsz-def.c-grey-700 #{message}
        div
          a.btn.btn-primary(href='/', type='primary') Go to Home
    script(type='text/javascript', src='/vendor.js')
    script(type='text/javascript', src='/bundle.js')
    script(type='text/javascript', src="https://cdn.ravenjs.com/3.15.0/raven.min.js")
    if sentry_event_id
      script.
        Raven.showReportDialog({
          eventId: '#{sentry_event_id}',

          // use the public DSN (dont include your secret!)
          dsn: 'https://e92de8eba7ff4a7e84a0d72e8ff61a8d@sentry.io/1256326'
        });
